Repository FriesI23/mhabit, pull requests merged in 2024-05, with the labels that each got.

#176 In-App Language Switching
  assets/l10n/_untranslated.json
  assets/l10n/en.arb
  assets/l10n/zh.arb
  docs/add_new_locale_support.md
  lib/common/consts.dart
  lib/l10n/localizations.g.dart
  lib/l10n/localizations_ar.g.dart
  lib/l10n/localizations_de.g.dart
  lib/l10n/localizations_en.g.dart
  lib/l10n/localizations_fa.g.dart
  lib/l10n/localizations_fr.g.dart
  lib/l10n/localizations_it.g.dart
  lib/l10n/localizations_nb.g.dart
  lib/l10n/localizations_ru.g.dart
  lib/l10n/localizations_vi.g.dart
  lib/l10n/localizations_zh.g.dart
  lib/persistent/profile/handler/app_language.dart
  lib/provider/app_language.dart
  lib/view/app.dart
  lib/view/for_app/app_providers.dart
  lib/view/for_app_setting/_dialog.dart
  lib/view/for_app_setting/app_language_changer.dart
  lib/view/page_app_setting.dart
Labels: enhancement, l10n

#179 feat: update translation files
  assets/l10n/vi.arb
Labels: l10n

#181 Fix "Http Error" when running test reporter action on forked repo
  .github/workflows/_test.yml
  .github/workflows/_test_report.yml
  .github/workflows/app-release.yml
  .github/workflows/mr-check-post.yml
Labels: bug, CI

#182 chore: suppress artifact in app release action
  .github/workflows/_test.yml
  .github/workflows/mr-check.yml
Labels: CI
